@model List<English_games.ViewModels.PopularThemsViewModel>

@{
    ViewBag.Title = "Темы по покупкам";
    Layout = "_Layout";
}


<div class="row justify-content-center">
    <div class="col-md-6 game">
        <h4>@ViewBag.Title</h4>
        <table class="table game mx-auto table-bordered table-hover bg-light">
            <thead>
            <tr>
                <th>Название темы</th>
                <th>Количество покупок</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var theme in Model)
            {
                <tr>
                    <td>
                        <a asp-action="DetailTheme" asp-route-themeId="@theme.Id">
                            @theme.Name
                        </a>
                    </td>
                    <td>
                        @theme.RealPurchaseCount
                    </td>
                    <td>
                        <a asp-action="EditTheme" asp-route-themId="@theme.Id"
                           class="btn btn-primary">Edit</a>
                    </td>
                    <td>
                        <a asp-action="DeleteTheme" asp-route-themeId="@theme.Id"
                           class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>